/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,100;1,400&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #11ece5;
  --primary-color-down: #13c7c1;
  --primary-color-hover: #7bf0ec;
  --secondary-color: #a47dff;
  --font--color: #f5f6f7;
  --card--primary-color: #2b3566;
  --card--hover-color: #50306e;
  --boxShadow--boder-color: #000000;
  --success-color: #5ae277;
  --error-color: #e91e63;
  --disabled-color: #92abcf;
  --button--hover-color: #8c5cfd;
}

body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1431;
  color: white;
}

html::-webkit-scrollbar,
.accordion__container__scrollbar::-webkit-scrollbar
{
  width: 10px;
  height: 16px;
}
html::-webkit-scrollbar-thumb,
.accordion__container__scrollbar::-webkit-scrollbar-thumb{
  background-color: var(--error-color);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
html::-webkit-scrollbar-track,
.accordion__container__scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

a:hover {
  text-decoration: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.btn-primary {
  background-color: var(--secondary-color);
  border: none;
  font-weight: bold;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--button--hover-color);
}

.btn-info{
  font-weight: bold;
  border: none;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--primary-color-down);
  
}


.btn-success {
  background-color: var(--success-color);
  color: #000000;
}

.btn-warning:hover {
  color: #fff;
}

.btn-danger {
  background-color: var(--error-color);
  color: #000000;
}

.primaryFontColor {
  color: var(--primary-color);
}

.secondaryFontColor {
  color: var(--secondary-color);
}

.successFontColor {
  color: var(--success-color);
}

.errorFontColor {
  color: var(--error-color);
}

.NavBar__navBarBrand {
  margin: 0;
}

.NavBar__navBarBrand:hover {
  filter: brightness(1.2);
}

/*-----Home **************/
.jumbotron{
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('./assets/backgroundHeader.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}
.termsx {
  margin: 0 auto;
  overflow-y: scroll;
  height: 70vh;
  width: 70%;
  border: 5px solid var(--card--hover-color);
  padding: 30px 40px;
  border-radius: 10px;
}

.termsx::-webkit-scrollbar
{
  width: 10px;
  height: 16px;
}
.termsx::-webkit-scrollbar-thumb{
  background-color: var(--error-color);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.termsx::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}


/*-----Spinner Loader*/
.spinnerLoader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

@keyframes spinerRotate {
  from {
    transform: rotate(0deg) scale(0.5);
  }
  to {
    transform: rotate(360deg) scale(0.9);
  }
}

.spinnerLoader__rotate {
  animation: spinerRotate 1s infinite;
}

/*------------Form Inputs */
.customForm__input {
  border: none;
  border-bottom: 0.5px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: transparent;
  padding-left: 10px;
}

.customForm__input:focus {
  border: none;
  border-bottom: 2px solid var(--primary-color-hover);
  color: var(--secondary-color);
  background-color: transparent;
  font-weight: 800;
}

.currency {
  text-align: center;
  padding-right: 15px;
}

/*-----*/
/*----- PROJECT CARDS*/
.projectListItem__card {
  background-color: var(--card--primary-color);
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
  color: var(--font--color);
  transition: all 50ms ease-in-out;
  border-radius: 15px;
  cursor: pointer;
  min-height: 450px;
}

.projectListItem__card:hover {
  /* background-color:var(--card--hover-color); */
  transform: scale(102%);
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px var(--button--hover-color);
  position: absolute;
  top: 10px;
  right: 1.25rem;

  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 768px) {
  .card-custom-avatar img {
    width: 50px;
    height: 50px;
  }
}

.addProjectButton {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color-down);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 1px 8px var(--secondary-color);
  z-index: 100;
  transition: all 50ms ease-in-out;
}

.addProjectButton__icon {
  margin-top: 12px;
}

.addProjectButton:hover {
  color: #fff;
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .addProjectButton {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
  }
  .addProjectButton__icon {
    margin-top: 18px;
  }
}

.sidebar-container {
  min-height: 90vh;
}

.sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}

.sidebar-container .menu {
  padding-top: 1rem;
  width: 12rem;
}

.sidebar-container .menu button {
  color: var(--primary-color);
  background-color: transparent;
  text-align: left;
  border-radius: 10px;
}

.menu button:hover {
  background-color: var(--card--hover-color);
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }
}

/*Project Report Styles*/

.report__mainContainerPrintable{
  height: 95vh;
}



.reportButton__PDF {
  background-color: var(--button--hover-color);
  border: 1px solid transparent;
  box-shadow: 1px 1px 8px var(--primary-color);
  color: #fff;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  border-radius: 50px;
  font-size: 25px;
  text-align: center;
  padding: 0.375rem 0.75rem;
  transition: all 50ms ease-in-out;
  z-index: 100;
}

.reportButton__PDF:hover {
  color: #fff;
  transform: scale(1.1);
}

.reportButton__finishProject{
  background-color: var(--success-color);
  border: 1px solid transparent;
  box-shadow: 1px 1px 8px var(--button--hover-color);
  color: #fff;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 30px;
  border-radius: 50px;
  font-size: 25px;
  text-align: center;
  padding: 0.375rem 0.75rem;
  transition: all 50ms ease-in-out;
  z-index: 100;
}

.reportButton__finishProject:hover {
  color: #fff;
  transform: scale(1.1);
}



.report__ProjectSection{
  background-color: #3E444A;
  padding: 0 0.5rem;
  width: 95%;
  margin: 0 auto;
  /* border: 1px dotted var(--button--hover-color); */
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
}

.report__checkboxInput:hover, .report__checkboxInput:checked{
  opacity: 1!important;
}

@media print { 
  /* @page { size: inherit;
  overflow: hidden;
height: 0; } */
@page{
  size: 100%;
  /* background-color: #343a40; */
}
  /* .table-dark {
    color: #fff;
    background-color: #343a40!important;
} */
tr:nth-child(odd) td {
  background-color: #343a40 !important;
}
tr:nth-child(even) td {
    background-color: #3E444A !important;
    -webkit-print-color-adjust: exact; 
}
  .table tr{ 
      /* border: 1px solid rgb(194, 194, 194); */
      /* color: var(--boxShadow--boder-color); */
      /* background-color: var(--disabled-color) !important;  */
  } 
}

/*-----------------Time Task Styles-----------------*/

.accordion {
  height: 50vh;
  border-radius: 10px;
}

.taskList__container {
  background-color: var(--card--hover-color);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
  color: var(--font--color);
  padding: 0.5rem;
}


/*------------- Expenses List Styles------*/
.accordion__expenses__height{
  height: auto;
}

.expenses__listItem{
  /* background-color: var(--disabled-color); */
}


.card-header {
  background-color: var(--card--primary-color);
}
.card-body {
  /* background-color: var(--card--hover-color); */
}

.stopwatch__display {
  font-size: 1.3rem;
  margin: 2rem 0;
}

.stopwatch__display span {
  font-size: 1.3rem;
  padding: 1rem 0.9rem;
  background-color: var(--card--primary-color);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
}

.stopwatch__resetButton {
  position: absolute;
  width: 2.5rem;
  top: 3.5rem;
  right: 3rem;
  border-radius: 100%;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .stopwatch__resetButton {
    top: 3.5rem;
    right: 5.5rem;
  }
}

/*PROJECT SCREEN*/

.projectData__container {
  background-color: var(--card--primary-color);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
  color: var(--font--color);
}

/*------USERPROFILE ----------*/
.userProfileCard__headerContainer {
  background-color: var(--card--primary-color);
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
}

.userProfile__imageContainer{
  width: 120px;
}

.userProfileCard__image {
  width: 100%;
  height: 115px;
  border-radius: 100px;
  border: 7px double var(--primary-color);
  object-fit: cover;
}

.userProfileCard__userName {
  font-weight: 800;
  font-size: larger;
  letter-spacing: 0px;
}

.userProfileCard__userEmail {
  color: var(--disabled-color);
}
.userProfileCard__projectsContainer {
  background-color: #0f1724;
}

.userProfileCard__projectsNumbers {
  font-size: 20px;
  font-weight: bold;
}

/*Charts Styles - Sizes*/
.userProfile-chart {
  max-width: 50%;
  margin: 0 auto;
}

.userProfile__totalTimer {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 0.9rem;
  background-color: var(--card--hover-color);
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 4px 0 var(--boxShadow--boder-color),
    0 1px 4px 1px var(--boxShadow--boder-color);
  color: var(--primary-color);
}







