@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,100;1,400&display=swap');

:root{
  --primary-color: #11ECE5;
  --primary-color-down: #13c7c1;
  --primary-color-hover: #7bf0ec;
  --secondary-color: #a47dff;
  --font--color: #F5F6F7;
  --card--primary-color:#2B3566;
  --card--hover-color:#50306e;
  --boxShadow--boder-color: #000000;
  --success-color: #5AE277;
  --error-color: #E71A27;
  --disabled-color:#92ABCF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E1431;
  color: white;
}

.primaryFontColor{
  color: var(--primary-color);
}

.secondaryFontColor{
  color: var(--secondary-color);
}

.successFontColor{
  color: var(--success-color);
}

.errorFontColor{
  color: var(--error-color);
  
}

.NavBar__navBarBrand{
  margin: 0;
}

.NavBar__navBarBrand:hover {
  filter: brightness(1.2);
}
/*-----Spinner Loader*/
.spinnerLoader__container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

@keyframes spinerRotate{
  from{  transform: rotate(
    0deg
    ) scale(0.5);}
  to{  transform: rotate(
    360deg
    ) scale(.9);}
}

.spinnerLoader__rotate{
    animation: spinerRotate 1s infinite;
}
/*-----*/
/*----- PROJECT CARDS*/
.projectListItem__card {
  background-color: var(--card--primary-color);
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
  0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0  1px 4px 0 var(--boxShadow--boder-color), 0 1px 4px 1px var(--boxShadow--boder-color);
  color: var(--font--color);
  transition: all 50ms ease-in-out;
  border-radius: 15px;
  cursor: pointer;
}

.projectListItem__card:hover{
  background-color:var(--card--hover-color);
  /* box-shadow: 0  1px 4px 0 var(--primary-color), 0 1px 4px 1px var(--primary-color); */
  transform: scale(1.01);
}


.addProjectButton{
  position:fixed;
  width:50px;
  height:50px;
  bottom:20px;
  right:20px;
  background-color:var( --primary-color-down);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:25px;
  box-shadow: 2px 1px 8px var(--secondary-color);
  z-index:100;
  transition: all 50ms ease-in-out;
}

.addProjectButton__icon{
  margin-top: 12px;
}

.addProjectButton:hover{
  color:#FFF;
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .addProjectButton{
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    font-size: 25px;
  }
  .addProjectButton__icon{
    margin-top: 18px;
  }
}

/*------USERPROFILE ----------*/
.userProfileCard__headerContainer{
  background-color: var(--card--primary-color);
  border-radius: 15px;
}

.userProfileCard__image{
  width: 100px;
  border-radius:50px;
}

.userProfileCard__userName{
  font-weight: 800;
  font-size: larger;
  letter-spacing: 0px;
}

.userProfileCard__userEmail{
  color: var(--disabled-color);
}
.userProfileCard__projectsContainer{
  background-color: #0F1724;
}

.userProfileCard__projectsNumbers{
  font-size: 20px;
  font-weight: bold;
}

.currency {
  text-align: left;
  padding-right: 15px;
}