@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,100;1,400&display=swap');

:root{
  --primary-color: #61DAFB;
  --primary-color-down: #13c7c1;
  --primary-color-hover: #7bf0ec;
  --secondary-color: #a47dff;
  --font--color: #F5F6F7;
  --card--primary-color:#242526;
  --card--hover-color:#425066;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282C34;
  color: white;
}

.NavBar__navBarBrand{
  margin: 0;
}

.NavBar__navBarBrand:hover {
  filter: brightness(1.2);
}

.spinnerLoader__container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

.projectListItem__card {
  background-color: var(--card--primary-color);
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
  0 1px 1px 1px rgb(60 64 67 / 15%);
  box-shadow: 0  1px 4px 0 var(--secondary-color), 0 1px 4px 1px var(--secondary-color);
  color: var(--font--color);
  transition: all 50ms ease-in-out;
  cursor: pointer;
}

.projectListItem__card:hover{
  background-color:var(--card--hover-color);
}


.addProjectButton{
  position:fixed;
  width:40px;
  height:40px;
  bottom:20px;
  right:20px;
  background-color:var( --primary-color-down);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:20px;
  box-shadow: 2px 1px 8px var(--secondary-color);
  z-index:100;
  transition: all 50ms ease-in-out;
}

.addProjectButton__icon{
  margin-top: 10px;
}

.addProjectButton:hover{
  /* background-color:var(--primary-color-hover); */
  /* color: #9b9b9b; */
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .addProjectButton{
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    font-size: 25px;
  }
  .addProjectButton__icon{
    margin-top: 18px;
  }
}

.currency {
  text-align: left;
  padding-right: 15px;
}